$sidebarWidth: $sidebar-width;
.grid {
    width: 100%;
    height: 100%;
    font-size: 11px;
}

.ui-grid {
    position: absolute;
    height: 100%;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
}

.ui-grid-row {
    cursor: pointer;
}

.grid-container {
    position: relative;
    width: calc(100% - 220px - 2px);
    margin-left: $sidebar-width;
    height: calc(100% - 55px);
}

.badge-sm {
    font-size: 10px;
    font-weight: normal;

    &--tag {
        float: left;
        margin: 0 2px 2px 0;
    }
}

.tag-hidden {
    visibility: hidden;
    opacity: 0;
    display: none;
}
